In [27]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [28]:
data = pd.read_csv('C:\\Users\\Kushagra Sharma\\Downloads\\DATASET\\diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [29]:
data.shape

(768, 9)

In [30]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [31]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [32]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [33]:
x = data.drop('Outcome',axis = 1)
y = data['Outcome']

In [34]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [35]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [36]:
scaler = StandardScaler()
scaler.fit(x)
std_data = scaler.transform(x)
print(std_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [37]:
x = std_data
y = data['Outcome']
print(x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3,random_state =1)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

[[ 3.31264542  0.47275805  0.04624525 ...  0.64823013 -0.96304428
   0.83038113]
 [-1.14185152 -0.74783062 -0.26394125 ...  0.61015436  0.38694877
  -0.70119842]
 [-0.84488505 -0.15318486  0.04624525 ... -0.58288655 -0.80901822
  -1.04154944]
 ...
 [ 2.7187125   0.1597866   1.08020025 ...  1.44782138  0.33560676
   0.74529338]
 [ 0.04601433  1.56815814  0.14964075 ...  1.47320522  0.02151441
  -0.61611067]
 [ 1.53084665 -0.59134489  0.35643175 ...  0.1151693   0.58325649
   1.08564439]]
[[ 0.93691372  0.47275805  0.25303625 ... -0.76057349  0.52889435
   1.51108316]
 [-0.84488505  0.94221523 -0.47073225 ... -0.74788157 -0.88452119
  -0.95646168]
 [ 0.63994726 -0.37226487 -0.47073225 ... -0.88749274 -0.80297799
  -0.53102292]
 ...
 [-0.84488505 -0.93561349 -0.78091875 ... -0.86210889 -0.71841466
  -0.87137393]
 [ 1.82781311  1.4742667   0.25303625 ...  0.76245745  0.1966813
   0.06459135]
 [ 1.53084665 -0.27837344  0.66661825 ...  0.28016432 -0.63989158
   0.23476686]]
88     1
467    0
550    0
147    0
481    0
      ..
645    0
715    1
72     1
235    1
37     1
Name: Outcome, Length: 537, dtype: int64
285    0
101    0
581    0
352    0
726    0
      ..
241    0
599    0
650    0
11     1
214    1
Name: Outcome, Length: 231, dtype: int64

In [47]:
classifier = svm.SVC(kernel='linear')
classifier.fit(x_train, y_train)

SVC(kernel='linear')

In [48]:
##TRAIN
x_train_pred = classifier.predict(x_train)
training_data_accu = accuracy_score(x_train_pred, y_train)
print(training_data_accu)

0.7746741154562383

In [49]:
##TEST
x_test_pred = classifier.predict(x_test)
test_data_accu = accuracy_score(x_test_pred,y_test)
print(test_data_accu)

0.7878787878787878

In [52]:
input_data = (5,166,72,19,175,25.8,0.587,51)
input_data_array = np.asarray(input_data)
input_data_reshaped = input_data_array.reshape(1,-1)

# standardize the input data
st_data = scaler.transform(input_data_reshaped)
print(st_data)

prediction = classifier.predict(st_data)
print(prediction)

if(prediction[0]==0):
    print("Not Diabetic")
else:
    print("Diabetic")

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
Diabetic

C:\Users\Kushagra Sharma\Anaconda\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(